/* CSS */
* {
    text-align: center;
    margin: 10px;
}

body{
	background-color: #e6e6fa;
}

h1{
	text-align: center;
}

#favicon {
    vertical-align: middle;
 }

#wrapper{
	margin: 0px auto 0px auto;
	width: 320px; height: auto;
}

#msg{
	margin: 0px; padding: 10px;
	background-color: lightgray;
	text-align: center;
}

#canvas{
	margin: 0px; width: 100%; height: auto;
	background-color: silver;
}